* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    list-style-type: none;
    text-decoration: none;
    font-family: "Playfair Display", arial, helvetica, sans-serif;
    -webkit-user-drag: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #EEEEEE;
}

.wrapper {
    margin: 4rem 26%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 200px) and (max-device-width : 480px) {
    .wrapper {
        margin: 0;
    }

    /* HEADER */
    .logo img {
        margin-left: 10rem;
        width: 50rem;
    }

    .header-container {
        margin-right: 20rem;
    }

    .navbar {
        font-size: 2em;
    }

    header .navbar ul {
        display: block;

    }

    header .navbar li {
        padding-right: 0 !important;
    }

    /* Slider */

    .slide-container {
        display: none;
    }

    /* Main news */

    .main_news {
        font-size: 1em;
        padding: 2rem;
        width: 100%;
    }

    figure.main_news p {
        font-size: 2.2em !important;
    }

    figure.main_news a {
        font-size: 2em !important;
    }

    /* Posts */

    .posts div {
        display: block !important;
    }

    .posts-item img {
        width: 55rem;
        margin-left: 2rem;
    }

    .posts-item figcaption {
        font-size: 4.5em !important;
        text-align: center;
    }

    .posts-item p {
        font-size: 2em !important;
        text-align: center;
    }

    .posts-item a {
        font-size: 3em !important;
        margin-left: 2rem !important;
    }

    /* Articles */

    .article_posts div {
        display: block !important;
    }

    .article_posts h2 {
        text-align: center;
        font-size: 3em !important;
        margin-left: 8rem !important;
    }

    p.text {
        text-align: center;
        font-size: 2.5em !important;
        margin-left: 5rem !important;
    }

    .article_posts img {
        width: 55rem !important;
        margin-left: 2rem;
        margin-top: 3rem;
    }

    .article_posts div figcaption {
        font-size: 3.5em !important;
        text-align: center;
        margin-left: 10rem;
    }

    .article_posts div p {
        font-size: 2.2em !important;
        text-align: center;
        margin-left: 10rem;
    }

    .article_posts div a {
        font-size: 2.2em !important;
        text-align: center;
        margin-left: 20rem;
    }


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 1000px) {
    .wrapper {
        margin: 0;
    }

    /* HEADER */
    .logo img {
        margin-left: 10rem;
        width: 50rem;
    }

    .header-container {
        margin-right: 20rem;
    }

    .navbar {
        font-size: 3em;
    }

    header .navbar ul {
        display: block;

    }

    header .navbar li {
        padding-right: 0 !important;
    }

    /* Slider */

    .slide-container {
        display: none;
    }

    /* Main news */

    .main_news {
        font-size: 1em;
        padding: 2rem;
        width: 100%;
    }

    figure.main_news p {
        font-size: 2.2em !important;
    }

    figure.main_news a {
        font-size: 2em !important;
    }

    /* Posts */

    .posts div {
        display: block !important;
    }

    .posts-item img {
        width: 55rem;
        margin-left: 2rem;
    }

    .posts-item figcaption {
        font-size: 4.5em !important;
        text-align: center;
    }

    .posts-item p {
        font-size: 2em !important;
        text-align: center;
    }

    .posts-item a {
        font-size: 3em !important;
        margin-left: 2rem !important;
    }

    /* Articles */

    .article_posts div {
        display: block !important;
    }

    .article_posts h2 {
        text-align: center;
        font-size: 3em !important;
        margin-left: 8rem !important;
    }

    p.text {
        text-align: center;
        font-size: 2.5em !important;
        margin-left: 5rem !important;
    }

    .article_posts img {
        width: 55rem !important;
        margin-left: 2rem;
        margin-top: 3rem;
    }

    .article_posts div figcaption {
        font-size: 3.5em !important;
        text-align: center;
        margin-left: 10rem;
    }

    .article_posts div p {
        font-size: 2.2em !important;
        text-align: center;
        margin-left: 10rem;
    }

    .article_posts div a {
        font-size: 2.2em !important;
        text-align: center;
        margin-left: 20rem;
    }


}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}